.items-head {
    margin: auto;
    display: flex;
    width: 1200px;
    justify-content: center;
    flex-direction: column;
}

.items {
    width: 250px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: unset;
}

.items-title {
    font-size: 25px;
    margin: auto;
    text-align: center;
    display: block;
    font-family: monospace;
}
.dis{
    position: relative;
    width: 50%;
}
input[type="button"] {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px;
    font-size: 20px;
    width: 80px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    img#back-icone{
        width: 50px !important;
    }
    .items-head{
        width: unset !important;
    }
    .items{
        height: 500px !important;
    }
    .dis {
        width: 100% !important;
    }
    .dis textarea {
    width: 95% !important;
    }
    input[type="button"]{
        bottom: 15px !important;
        right: 20px !important;
    }
    .dis textarea::-webkit-scrollbar{
        width: 0 !important;
    }
  }
